<div id="add-metric">
  <div class="container pt-3">
    <%= simple_form_for @metric do |f| %>
      <%= f.input :name %>
      <%= f.button :submit, 'Save', class: 'btn btn-outline-danger' %>
      <%= link_to 'Cancel', cancel_metrics_path, class: 'btn btn-outline-secondary', data: { turbo_stream: true } %>
    <% end %>
  </div>
</div>
