<div class="container pt-5 bg-light">
  <div class="row bg-light" >
    <div class="col">
      <h1 class="page-header ">Metrics</h1>
    </div>
    <div class="col text-end">
      <%= link_to 'Add Metric', new_metric_path, class: 'btn btn-outline-danger px-4 rounded-pill', data: { turbo_stream: true } %>
    </div>
    <div id="add-metric">
    </div>
    <div id="metrics-list-container" class="container pt-5 bg-light">
      <ul class="list-unstyled">
        <% @metrics.each do |metric| %>
          <li>
            <%= render 'card', metric: metric %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
