<div class="container pt-5 bg-light">
  <div class="row bg-light" >
    <div class="col">
      <h1 class="page-header ">Metrics</h1>
    </div>
    <div class="col text-end">
      <%= link_to 'Add Metric', new_metric_path, class: 'btn btn-primary', data: { turbo_stream: true } %>
    </div>
    <div id="add-metric">
    </div>
    <div id="metrics-list" class="container pt-5 bg-light">
      <% @metrics.each do |metric| %>
        <ul>
          <%= metric.name %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
